{% include 'header.html' %}
            <!--- Main sectin Start-->
             <div class="row mt-5">

                      <div class="col-md-6 mx-auto">
                                <form method="POST" >
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="first" class="form-label"><strong>Blog Title</strong></label>
                                        <input type="text" class="form-control" name="title" id="first" placeholder="Enter Blog Title">
                                    </div>

                                    <div class="mb-3">
                                        <label for="second" class="form-label"><strong>Blog Description</strong></label>
                                        <textarea class="form-control" id="second" name="detail" rows="3" placeholder="Enter Blog Details"></textarea>
                                    </div>

                                    <div class="mb-3">
                                        <label  class="form-label"><strong>Select Category</strong></label>
                                        <select class="form-select" name="cat" aria-label="Default select example">
                                           
                                            <option value="1">Python</option>
                                            <option value="2">Data Science</option>
                                            <option value="3">Data Analyst</option>
                                            <option value="4">Java</option>
                                          </select>
                                    </div>

                                    <div class="mb-3">
                                           <button type="submit" class="btn btn-danger">Create</button>
                                    </div>

                                </form>
                      </div>

             </div>
            

            <!--- Main section End-->
 {% include 'footer.html' %}